*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif
}

@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Inter&family=Kanit:ital@1&family=Ubuntu&display=swap');

.testo {
    color: rgb(105, 99, 99);
    font-weight: 600;
    font-size: 14px;
}

body{
    width: 80%;
    margin: auto;
}

header{
    text-align: center;       
}

.titolo {
    color: rgb(238, 65, 112);
    margin-top: 20px; 
    margin-bottom: 20px; 
    font-weight: 800;
}


.clearfix::after{
    clear: both;
    content: '';
    display: table;
}

.card {
    float: left;   
    width: calc(100% / 3 - 20px);
    margin-right: 20px;
    background-color: black;
    color: white;
    line-height: 25px;
    box-shadow: -1px 0px 5px 2px #9E9E9E;
    
}

.card img{
    float: left;
    width: 80px;
    margin-right: 10px;  
}

.mail{
    color: rgb(106, 191, 225);
}

.box{
    margin: 30px 0px; 
}

.professione{
    color: lightgray;
}

.nome{
    font-weight: bold;
}


